* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section {
	max-width: 1330px;
	margin: 0 auto;
	padding: 48px 16px;
}

.section__background {
	width: 100%;
	background-color: #fdf2ff;
}
/*SECTION HEADER*/
.section__header__background {
	background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
	width: 100%;
}
#section__header {
	background-image: url("../assets/images/Pc_Header.png");
	background-repeat: no-repeat;
	height: 90vh;
	background-position: bottom;
	max-width: 1330px;
	margin: 0 auto;
	padding: 25px 15px;
}
.subtitle__header {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 15px;
}
.title__header {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	color: #ffffff;
}
/*NAVBAR*/
.navbar {
	display: flex;
	min-height: 30px;
	flex-wrap: wrap;
	align-items: baseline;
}
.navbar__logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 auto;
}
.input__navbar {
	display: none;
}

.input__navbar.mobile {
	display: block;
	background: #ffffff;
	border: 1px solid #dadada;
	box-sizing: border-box;
	border-radius: 3px;
	width: 100%;
	height: 48px;
	padding-left: 10px;
}
.navbar__logo > img {
	margin-bottom: 35px;
}
.navbar__browser {
	margin-left: 32px;
	display: none;
}
.navbar__browser > ul > li:last-child {
	margin-right: 16px;
}

.navbar__browser > ul {
	list-style: none;
	color: #ffffff;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
.navbar__browser > ul > li {
	display: inline;
	margin-left: 32px;
}

.navbar__browser > ul > li:first-child {
	margin-left: 0px;
}
/*NAVBAR MOBILE*/
.navbar__menu__mobile {
	display: flex;
	position: relative;
	align-items: center;
}
.navbar__menu__mobile > img {
	margin-right: 10px;
}
.navbar__menu__mobile__list {
	position: absolute;
	padding-top: 8px;
	display: none;
}
.show {
	display: flex;
	position: absolute;
	top: 0;
	right: 0px;
	margin-top: 23px;
	text-align: end;
}
.navbar__menu__mobile__list > ul {
	list-style: none;
	color: #ffffff;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.navbar__menu__mobile > .navbar__menu__mobile--container {
	margin-left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.300838);
	padding: 12px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
}

.navbar__menu__mobile > .navbar__menu__mobile--container:first-child {
	margin-left: 0;
}
/*MEDIAQUERIES NAVBAR*/
@media (min-width: 1440px) {
	.input__navbar {
		display: block;
		width: 100%;
	}
	.input__navbar.mobile {
		display: none;
	}
	.navbar {
		align-items: center;
	}
	.navbar__browser {
		display: flex;
	}
	.navbar__logo {
		flex-direction: row;
		align-items: center;
	}
	.navbar__logo > img {
		width: 120px;
		height: auto;
		margin-bottom: 0;
		margin-right: 10px;
	}

	.navbar__menu__mobile {
		margin-left: 32px;
	}
}

/* SECTION COMAND*/

.container__comand {
	display: flex;
	margin-bottom: 21px;
}

.container__image__comand {
	margin-right: 16px;
}

.icon__commad {
	width: 48px;
	height: 36px;
}

#icon__client {
	width: 48px;
	height: 48px;
}

#icon__shop {
	width: 36px;
	height: 48px;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 24px;
	line-height: 32px;
	color: #333333;
}

.text {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

/*MEDIAQUERIES SECTION COMAND*/
@media (min-width: 1440px) {
	.section {
		max-width: 1330px;
		margin: 0 auto;
	}

	#section__comand {
		display: flex;
	}

	.container__comand {
		margin-right: 30px;
		margin-bottom: 0px;
	}
}

/*SECTION SHOW DEVICES*/
#section__natus__error {
	padding: 61px 15px 90px 15px;
}

.container__title__natus {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.subtitle {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 17px;
}

.title__principal {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #333333;
}

.container__products {
	margin-bottom: 90px;
}

.container__image__products {
	display: flex;
	margin-top: 90px;
	justify-content: center;
}

.container__list {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	text-align: center;
}

.span__products {
	margin-bottom: 8px;
}

.link__products {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #333333;
}

/*MEDIAQUERIES SECTION SHOW DEVICE*/
@media (min-width: 1440px) {
	#section__natus__error {
		max-width: 1330px;
		margin: 0 auto;
	}

	.container__products {
		margin-bottom: 0;
		margin-top: 90px;
		width: 25%;
	}

	.container__image__products {
		align-items: flex-end;
		margin-top: 0;
	}

	.container__image__products img {
		height: 158px;
	}

	.container__title__natus {
		margin-left: 435px;
		margin-right: 435px;
	}

	.container__allProducts {
		display: flex;
	}
}
/*END SECTION SHOW DEVICE*/

/*SECTION SHOP*/
#section__shop {
	background-color: #fdf2ff;
	padding: 45px 15px 80px 15px;
}

.container__title__shop {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 42px;
}

.container__grid__products {
	display: grid;
	grid-row-gap: 16px;
}

.container__card {
	background: #ffffff;
	border-radius: 3px;
	padding: 37px 32px;
	box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.info__card {
	display: flex;
	flex-direction: column;
}

.btn__card {
	width: 170px;
	height: 48px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #c86dd7;
	border: 1px solid #c86dd7;
	box-sizing: border-box;
	border-radius: 24px;
	background-color: #ffffff;
	margin-top: 26px;
}

.price__card {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	margin-top: 9px;
	text-transform: uppercase;
	color: #333333;
}
#card__iphone {
	background-image: url("../assets/images/Iphone.png");
	background-repeat: no-repeat;
	background-position: bottom;
	height: 60vh;
}
#card__goldenIphone {
	background-image: url("../assets/images/GoldenIphone.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: right;
	height: 28vh;
}

#card__watch {
	background-image: url("../assets/images/Watch.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: right;
	height: 28vh;
}

#card__laptops {
	background-image: url("../assets/images/Laptops.png");
	height: 60vh;
	background-repeat: no-repeat;
	background-position: bottom;
}
/*MEDIAQUERIES SECTION SHOP*/
@media (min-width: 1440px) {
	.container__grid__products {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 271px 311px;
		grid-gap: 30px;
	}
	#card__iphone {
		background-size: contain;
	}
	#card__laptops {
		display: flex;
		height: 27vh;
		grid-column-start: 2;
		grid-column-end: 4;
		background-image: url("../assets/images/Laptops__versionDesk.png");
		background-position: right;
	}
}
/*END SECTION SHOP*/
/*SECTION CAROUSEL PRODUCTS*/
#section__carouselProducts {
	width: 100%;
}

/*SECTION OFFER*/
.container__general__infoSale {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container__titleCountDown {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.container-day,
.container-hour,
.container-minute,
.container-second {
	display: flex;
}

.day,
.hour,
.minute,
.second,
.semicolon {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	/* identical to box height, or 133% */

	color: #333333;
}

.container__menu {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 345px;
	height: 176px;
	padding: 37px 32px 42px 32px;
	margin-top: 43px;
	box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.container__option__menu {
	display: flex;
	flex-direction: row;
}

#underline {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	position: relative;
	box-shadow: inset 0 -0.5em 0 #c86dd7;
}

.optionMenu,
#underline {
	margin-right: 10px;
	margin-top: 41px;
}

.container__image__offer {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 48px;
	margin-bottom: 42px;
	width: 196px;
}

.image__sale {
	position: sticky;
}

.container__image__discount {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
}

.image__discount {
	position: absolute;
	top: 0;
	right: 0;
}

.discount__percentage {
	color: #ffffff;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	z-index: 999;
}
.container__price__details__offer {
	display: flex;
	align-items: baseline;
}
.price {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #333333;
	margin-right: 10px;
}

.wrong-price {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
	text-decoration: line-through red;
}
.container__sold {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.sold__details {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
.container__bar {
	width: 345px;
	height: 16px;
	background-color: #ededed;
	border-radius: 3px;
	margin-top: 10px;
}
.bar {
	width: 98px;
	height: 16px;
	background-color: #c86dd7;
}
.btn__offer {
	background: #c86dd7;
	border-radius: 24px;
	color: #ffffff;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	width: 170px;
	height: 48px;
	border: none;
	margin-top: 48px;
}
/* MEDIAQUERIES SECTION OFFER */
@media (min-width: 1440px) {
	.container__general__infoSale {
		flex-direction: row;
		justify-content: space-between;
	}

	.container__menu {
		width: 28%;
		height: auto;
	}

	.container__option__menu {
		flex-direction: column;
	}

	.container__image__offer {
		width: 28%;
	}

	.container__details__offer {
		width: 28%;
	}

	.image__sale {
		width: 351px;
	}
	#underline {
		margin-right: 250px;
	}
	.container__bar {
		width: 370px;
	}
}
/* END SECTION OFFER */
/*SECOND CAROUSEL POSTS*/
#section__carouselPosts {
	position: relative;
	width: 100%;
}
.container__title__carouselPost {
	display: flex;
	flex-direction: column;
	height: 10vh;
	align-items: baseline;
}
.slider-container {
	height: 470px;
	padding: 48px 0;
	margin: 0 auto;
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
	margin-top: 4rem;
	display: flex;
	flex-wrap: nowrap;
}
.slide {
	position: relative;
	height: 100%;
	background: #ffffff;
	box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
	border-radius: 3px;
	justify-content: flex-end;
	flex: 0 0 100%;
}

.slide > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 240px;
	object-fit: cover;
}

.slide > div {
	position: absolute;
	top: 260px;
	left: 0;
	padding: 0 8px;
}
.btn-container {
	display: flex;
	justify-content: center;
	margin-top: 48px;
}

.prevBtn,
.nextBtn {
	border: 1px solid #c86dd7;
	padding: 16px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin-right: 8px;
}
.prevBtn:hover,
.nextBtn:hover {
	color: grey;
}
small {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}

#first-post,
#fourth-post {
	background-image: url(../assets/images/Post-one.png);
	background-repeat: no-repeat;
	background-position: top;
}
#second-post,
#fifth-post {
	background-image: url(../assets/images/Post-two.png);
	background-repeat: no-repeat;
	background-position: top;
}
#third-post,
#sixth-post {
	background-image: url(../assets/images/Post-three.png);
	background-repeat: no-repeat;
	background-position: top;
}
.section__signIn--oval1 {
	position: absolute;
	background-image: url("../assets/images/Oval-one.png");
	background-repeat: no-repeat;
	bottom: -50px;
	right: 30px;
	width: 100px;
	height: 100px;
	z-index: 10;
}

/* MEDIAQUERIES SECTION CAROUSEL POSTS */
@media (min-width: 1440px) {
	.slide {
		display: flex;
		flex-direction: column;
		height: 100%;
		background: #ffffff;
		box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
		border-radius: 3px;
		justify-content: flex-end;
		flex: 0 0 432.66666667px;
	}

	.slide {
		margin-right: 24px;
	}

	.slide:last-child {
		margin-right: 0;
	}

	.slide > div {
		width: 80%;
		padding: 0 24px;
	}
}

/*SECTION SIGN IN*/
#section__signIn {
	background-color: #3023ae;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: right;
}

.section__signIn--oval2 {
	position: absolute;
	background-image: url("../assets/images/Oval-two.png");
	background-repeat: no-repeat;

	bottom: -160px;
	right: 0;
	width: 123px;
	height: 323px;
}

.section__signIn--oval3 {
	position: absolute;
	background-image: url("../assets/images/Oval-three.png");
	background-repeat: no-repeat;

	bottom: -60px;
	left: 0;
	width: 140px;
	height: 140px;
}

.container__application,
.container__info__application,
.container__input__application {
	z-index: 10;
	display: flex;
	flex-direction: column;
}
.container__input__application {
	align-items: flex-start;
	margin-top: 34px;
}

.subtitle__application {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 17px;
}
.title__application {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	color: #ffffff;
}
.text__application {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-top: 24px;
}
input {
	background: #ffffff;
	border: 1px solid #dadada;
	box-sizing: border-box;
	border-radius: 3px;
	width: 345px;
	height: 48px;
	padding-left: 10px;
}
.btn__signIn {
	width: 170px;
	height: 48px;
	background: #ffc300;
	border-radius: 24px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-top: 16px;
	border: none;
}
/* MEDIAQUERIES SECTION SIGN */
@media (min-width: 1440px) {
	.container__application {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 348px;
	}
	.container__info__application,
	.container__input__application {
		width: 33%;
	}
	#form {
		display: flex;
	}
	.container__input__application {
		flex-direction: row;
	}
	.btn__signIn {
		margin-top: 0;
		margin-left: 30px;
	}
}
/*SECTION FOOTER */
.container__list__footer {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}
.container__list__footer span {
	line-height: 200%;
}
.strongText {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
@media (min-width: 1440px) {
	.container__footer {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.container__list__footer {
		width: 18%;
		display: flex;
		flex-direction: column;
	}
}

/*SECTION CONTACT */
#section__contact {
	background-color: #fdf2ff;
}
.container__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30vh;
	justify-content: space-around;
	border-top: 1px solid rgb(212, 212, 212);
	padding: 40px;
}

.contact__socialMedia {
	display: flex;
	width: 50%;
	justify-content: space-around;
}

.container__cardsBank {
	display: flex;
	width: 60%;
	justify-content: space-around;
}

@media (min-width: 1440px) {
	.container__contact {
		flex-direction: row;
		justify-content: space-around;
		height: 9vh;
	}
	.contact__socialMedia {
		width: 10%;
	}
	.container__cardsBank {
		width: 15%;
	}
}
