* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* SECTION COMAND*/
#section__comand {
	background-color: #fdf2ff;
	padding: 53px 15px 48px;
}
.container__comand {
	display: flex;
	margin-bottom: 21px;
}
.container__image__comand {
	margin-right: 16px;
}

.icon__commad {
	width: 48px;
	height: 36px;
}
#icon__client {
	width: 48px;
	height: 48px;
}
#icon__shop {
	width: 36px;
	height: 48px;
}
.title {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 24px;
	line-height: 32px;
	color: #333333;
}
.text {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}
/*MEDIAQUERIES SECTION COMAND*/
@media (min-width: 1440px) {
	#section__comand {
		display: flex;
		padding: 101px 135px 80px 135px;
	}
	.container__comand {
		margin-right: 30px;
		margin-bottom: 0px;
	}
}
/*Section error*/
#section__natus__error {
	padding: 61px 15px 90px 15px;
}
.container__title__natus {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.subtitle {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 17px;
}
.title__natus {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 24px;
}
.container__products {
	margin-bottom: 90px;
}
.container__image__products {
	display: flex;
	margin-top: 90px;
	justify-content: center;
}

.container__list {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	text-align: center;
}
.span__products {
	margin-bottom: 8px;
}
.link__products {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #333333;
}

/*MEDIAQUERIES SECTION PRODUCTS*/
@media (min-width: 1440px) {
	#section__natus__error {
		display: flex;
		flex-direction: column;
		padding: 77px 0 106px 0;
	}
	.container__title__natus {
		margin-left: 435px;
		margin-right: 435px;
	}
	.container__allProducts {
		display: flex;
		justify-content: center;
		padding-left: 135px;
		padding-right: 135px;
	}
	#product__laptop {
		margin-right: 114px;
	}
	#product__phone {
		margin-right: 190px;
	}
	#product__ipad {
		margin-right: 143px;
	}
}
/*SECTION SHOP*/
#section__shop {
	background-color: #fdf2ff;
	padding: 45px 15px 80px 15px;
}
.container__title__shop {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 42px;
}

.container__card {
	margin-top: 6px;
	padding-top: 37px;
	width: 345px;
	height: 480px;
	background: #ffffff;
	border-radius: 3px;
	background-image: url("../assets/images/Iphone.png");
	background-repeat: no-repeat;
	background-position: bottom;
}
.info__card {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
}
.text__card {
	margin-top: 9px;
}
.btn__card {
	width: 170px;
	height: 48px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #c86dd7;
	border: 1px solid #c86dd7;
	box-sizing: border-box;
	border-radius: 24px;
	background-color: #ffffff;
	margin-top: 26px;
}
#card__goldenIphone {
	width: 345px;
	height: 224px;
	background-image: url("../assets/images/GoldenIphone.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: right;
}
#card__watch {
	width: 345px;
	height: 224px;
	background-image: url("../assets/images/Watch.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: right;
}
#card__laptops {
	background-image: url("../assets/images/Laptops.png");
}
@media (min-width: 1440px) {
	.container__grid {
		display: grid;
	}
}
