* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section {
	max-width: 1330px;
	margin: 0 auto;
	padding: 48px 16px;
}

.section__background {
	width: 100%;
	background-color: #fdf2ff;
}

/* SECTION COMAND*/

.container__comand {
	display: flex;
	margin-bottom: 21px;
}

.container__image__comand {
	margin-right: 16px;
}

.icon__commad {
	width: 48px;
	height: 36px;
}

#icon__client {
	width: 48px;
	height: 48px;
}

#icon__shop {
	width: 36px;
	height: 48px;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 24px;
	line-height: 32px;
	color: #333333;
}

.text {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
}

/*MEDIAQUERIES SECTION COMAND*/
@media (min-width: 1440px) {
	.section {
		max-width: 1330px;
		margin: 0 auto;
	}

	#section__comand {
		display: flex;
	}

	.container__comand {
		margin-right: 30px;
		margin-bottom: 0px;
	}
}

/*Section error*/
#section__natus__error {
	padding: 61px 15px 90px 15px;
}

.container__title__natus {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.subtitle {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 17px;
}

.title__principal {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #333333;
}

.container__products {
	margin-bottom: 90px;
}

.container__image__products {
	display: flex;
	margin-top: 90px;
	justify-content: center;
}

.container__list {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	text-align: center;
}

.span__products {
	margin-bottom: 8px;
}

.link__products {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #333333;
}

/*MEDIAQUERIES SECTION PRODUCTS*/
@media (min-width: 1440px) {
	#section__natus__error {
		max-width: 1330px;
		margin: 0 auto;
	}

	.container__products {
		margin-bottom: 0;
		margin-top: 90px;
		width: 25%;
	}

	.container__image__products {
		align-items: flex-end;
		margin-top: 0;
	}

	.container__image__products img {
		height: 158px;
	}

	.container__title__natus {
		margin-left: 435px;
		margin-right: 435px;
	}

	.container__allProducts {
		display: flex;
	}
}

/*SECTION SHOP*/
#section__shop {
	background-color: #fdf2ff;
	padding: 45px 15px 80px 15px;
}

.container__title__shop {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 42px;
}

.container__grid__products {
	display: grid;
}

.container__card {
	margin-top: 6px;
	padding-top: 37px;
	width: 345px;
	height: 480px;
	background: #ffffff;
	border-radius: 3px;
	background-image: url("../assets/images/Iphone.png");
	background-repeat: no-repeat;
	background-position: bottom;
	box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.info__card {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
}

.text__card {
	margin-top: 9px;
}

.btn__card {
	width: 170px;
	height: 48px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #c86dd7;
	border: 1px solid #c86dd7;
	box-sizing: border-box;
	border-radius: 24px;
	background-color: #ffffff;
	margin-top: 26px;
}

.price__card {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	margin-top: 9px;
	text-transform: uppercase;
	color: #333333;
}

#card__goldenIphone {
	width: 345px;
	height: 224px;
	padding-right: 171px;
	background-image: url("../assets/images/GoldenIphone.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: right;
}

#card__watch {
	width: 345px;
	height: 224px;
	padding-right: 231px;
	background-image: url("../assets/images/Watch.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-position-x: right;
}

#card__laptops {
	background-image: url("../assets/images/Laptops.png");
}

@media (min-width: 1440px) {
	.container__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*SECTION CARUSEL*/
#section__carousel {
	width: 375px;
	height: 768px;
	background-color: #ffffff;
}

/*SECTION OFFER*/

.container__general__infoSale {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container__titleCountDown {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.container__countdown {
	margin-top: 15px;
}

.container__menu {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 345px;
	height: 176px;
	padding: 37px 32px 42px 32px;
	margin-top: 43px;
	box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}

.container__option__menu {
	display: flex;
	flex-direction: row;
}

#underline {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	position: relative;
	box-shadow: inset 0 -0.5em 0 #c86dd7;
}

.optionMenu,
#underline {
	margin-right: 10px;
	margin-top: 41px;
}

.container__image__offer {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 48px;
	margin-bottom: 42px;
	width: 196px;
}

.image__sale {
	position: sticky;
}

.container__image__discount {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
}

.image__discount {
	position: absolute;
	top: 0;
	right: 0;
}

.discount__percentage {
	color: #ffffff;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	z-index: 999;
}
.container__price__details__offer {
	display: flex;
	align-items: baseline;
}
.price {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #333333;
	margin-right: 10px;
}

.wrong-price {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	mix-blend-mode: normal;
	opacity: 0.5;
	text-decoration: line-through red;
}
.container__sold {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.sold__details {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}
.container__bar {
	width: 345px;
	height: 16px;
	background-color: #ededed;
	border-radius: 3px;
	margin-top: 10px;
}
.bar {
	width: 98px;
	height: 16px;
	background-color: #c86dd7;
}
.btn__offer {
	background: #c86dd7;
	border-radius: 24px;
	color: #ffffff;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	width: 170px;
	height: 48px;
	border: none;
	margin-top: 48px;
}
/* MEDIAQUERIES SECTION OFFER */
@media (min-width: 1440px) {
	.container__general__infoSale {
		flex-direction: row;
		justify-content: space-between;
	}

	.container__menu {
		width: 28%;
		height: auto;
	}

	.container__option__menu {
		flex-direction: column;
	}

	.container__image__offer {
		width: 28%;
	}

	.container__details__offer {
		width: 28%;
	}

	.image__sale {
		width: 351px;
	}
	#underline {
		margin-right: 250px;
	}
	.container__bar {
		width: 370px;
	}
}
/*SECOND CAROUSEL*/

/*SECTION SIGN IN*/
#section__signIn {
	background-color: #3023ae;
	margin: 0 auto;
	padding: 64px 15px;
	background-image: url("../assets/images/Oval-two.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-position-x: right;
}
.container__application,
.container__input__application {
	display: flex;
	flex-direction: column;
}
.container__input__application {
	align-items: flex-start;
	margin-top: 34px;
}

.subtitle__application {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 17px;
}
.title__application {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	color: #ffffff;
}
.text__application {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-top: 24px;
}
input {
	background: #ffffff;
	border: 1px solid #dadada;
	box-sizing: border-box;
	border-radius: 3px;
	width: 345px;
	height: 48px;
}
.btn__signIn {
	width: 170px;
	height: 48px;
	background: #ffc300;
	border-radius: 24px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-top: 16px;
	border: none;
}
